#logo {
  height: 60px;
}

body {
  text-align: center;
}

.navbar {
  background-color: darkorange;
  justify-content: flex-start;
}

#download {
  background: darkorange;
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  padding: 10px 40px;
  font-weight: bold;
}

.container {
  background-color: white;
  text-align: center;
}

h2 {
  padding-top: 40px;
}

.overlay {
  display: none;
  height: 100%;
  width: 100%;
  text-align: center;
}

.team-image {
  overflow: hidden;
  margin: 50px 25px;
  height: 300px;
  width: 300px;
  display: inline-block;
  position: relative;
}

.team-image img {
  height: 100%;
}

.active {
  border-bottom: black 1px solid;
}

.navbar .navbar-nav .nav-item {
  padding: 0;
  margin: 15px 20px;
}

.navbar .navbar-nav .nav-item .nav-link {
  padding: 0;
}

#team-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

#john img {
  transform: rotate(180deg);
}

.overlay {
  background-color: rgba(105, 105, 105, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay div {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  margin: auto;
  color: white;
}

#hellcat-logo-homepage {
  width: 460px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

#hellcat-logo {
  margin-top: 50px;
  height: 100px;
}

#manual-top *{
  display: inline-block;
}

.hellcat-btn {
  background: darkorange;
  color: white;
  margin-left: 80px;
  margin-top: -10px;
}

#manual {
  text-align: left;
  padding-bottom: 40px;
}

a:hover {
  text-decoration: none;
  color: white;
}

.image {
  display: inline-block;
  width: 30%;
}

.image > * {
  width: 100%;
  height: auto;
}

.text {
  width: 65%;
  display: inline-block;
}

.section {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

#manual h4 {
  padding-top: 30px;
}

#manual h5 {
  font-weight: 500;
}

.sprite {
  height: 100px;
  width: auto;
}

.large-text {
  width: 80%;
}

.small-image {
  width: 15%;
}

#homepage {
  background-image: url('../assets/screenshot.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
}

.small {
  height: 60px;
}

#design-button {
  margin-bottom: 50px;
}
